@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="grid-container">
        <h1 class="grid-header">Key Stats</h1>
        <div>
            <div class="grid-item-header">Total of All Letters Sent:</div>
            <div>@Model.TotalSignatures</div>
        </div>
        <p class="grid-footer">as of @DateTime.Now</p>
    </div>
</div>
