@page
@model IndexModel
@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    <div class="grid-container">
        <h1 class="grid-header">Key Stats</h1>
        <div>
            <div class="grid-item-header">Total of All Letters Sent:</div>
            <div>@Model.TotalSignatures</div>
        </div>
        <div>
            <div class="grid-item-header">Total of Yesterday's Letters Sent:</div>
            <div>@Model.YesterdayCount</div>
        </div>
        <div>
            <div class="grid-item-header">Total of Day Before Yesterday's Letters Sent:</div>
            <div>@Model.DayBeforeYesterdayCount</div>
        </div>
        <div class="grid-footer">Counts as of @DateTime.UtcNow UTC</div>
    </div>
</div>
